/* 头像 */
.portrait {
  float: right; /* 头像浮动到右侧 */
  width: 175px;
  height: 175px;
  border-radius: 5%;
  margin-left: 20px; /* 头像与文字之间的间距 */
}

/* 简历链接布局 */
.vita-links {
  display: flex;
  justify-content: space-around; /* 或 space-between */
  text-align: center;
}

/* 姓名和拼音 */
.name-cn {
  font-family: '楷体', sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

/* 拼音样式 */
.name-pinyin {
  font-family: 'Noto Sans IPA', sans-serif;
  font-weight: 10;
  font-size: 0.7em;
  color: var(--color-text-muted);
}


/* 访客地图 */
.visitor-map {
  display: block;
  margin: 0 auto;

  width: 100%;
  max-width: 590px;
  aspect-ratio: 590 / 300;

  border-radius: 5%;
}


/* 移动端头像变小 */
@media (max-width: 480px) {
  .portrait {
    width: 120px;
    height: 120px;
    margin-left: 12px;
  }
}

/* 用于移动端姓名不被换行 */
.name-block {
  white-space: nowrap;
}
