/* 引入 Google Fonts 的字体在 HTML <head> 中加载 */

/* 全局格式 */
body {
  background-color: #121212;
  color: #CCCCCC;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

/* 强调字体 */
strong {
  color: #FFFFFF; 
}

/* 标题样式 */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* 链接样式 */
a {
  color: #37908a;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  color: #37908a;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgba(55, 144, 138, 0.5);
}

/* 导航栏 */
nav {
  background-color: #121212;
  color: #CCCCCC;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav a {
  color: #CCCCCC;
  margin-right: 1.5rem;
  font-weight: bold;
}

/* header, main, footer */
header {
  margin-bottom: 20px;
}

main {
  overflow: hidden; /* 清除浮动，确保页面布局正确 */
}

/* 容器居中限制宽度 */
.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
}







/* 头像 */
img {
  float: right; /* 头像浮动到右侧 */
  width: 175px;
  height: 175px;
  border-radius: 5%;
  margin-left: 20px; /* 头像与文字之间的间距 */
}

/* 简历链接布局 */
.vita-links {
  display: flex;
  justify-content: space-around; /* 或 space-between */
  text-align: center;
}







/* 博客侧边栏 */
.sidebar {
  background-color: #2b2b2b;
  padding: 1rem;
  border-radius: 0.5rem;
  position: fixed;
  top: 50px;
  left: 0;
  width: 220px;
  height: 100%;
  overflow: hidden;
}

/* 默认折叠状态 */
.sidebar.collapsed {
  width: 0;
  padding: 0;
}

/* 折叠时隐藏具体内容，只留按钮 */
.sidebar.collapsed .sidebar-content {
  display: none;
}

/* 任务栏按钮 */
#toggleSidebar {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 100;
  background: #2b2b2b;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* 卡片布局 */
article {
  background-color: #2b2b2b;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

/* blog标题按钮格式 */
.blog-title a{
  color: #FFFFFF;
  font-style: normal;
}

.blog-title a:hover{
  color: #37908a;
  text-decoration: none;
}

/* blog中标题h3特殊格式 */
article h3{
  font-size: 1.3rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

/* tag格式，暂无响应 */
.tag {
  display: inline-block;
  background-color: #37908a;
  color: #fff;
  padding: 0.2rem 0.6rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}








/* gallery格式 */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem 0rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.gallery-grid img {
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}



